html {
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    margin-top: 70px;
}

/*MAIN*/
a {
    color: #4B99AD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4691A4;
}

header a {
    color: #fbb900;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #c1a75d;
}

header img {
    width: 100%;
}

header {
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #fbb900;
    z-index: 100;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

#logo{
    margin: 10px 0 10px 10px;
    float: left;
    width: 200px;
    height: 40px;
    /*background: url(../img/logo.png) no-repeat center;*/
    display: block;
}

nav {
    float: right;
    padding: 10px 20px 10px 0;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: #fbb900 url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
    background-color: #c1a75d;
    border-radius: 4px 4px 0 0;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    float: left;
    padding: 5px 25px;
}

.current {
    color: #2262AD;
}

/*section {*/
    /*margin: 80px auto 40px;*/
    /*max-width: 980px;*/
    /*position: relative;*/
    /*padding: 20px*/
/*}*/

header h1 {
    font-size: 2em;
    color: #2262AD;
    line-height: 1.15em;
    margin: 20px 0 ;
}

header p {
    line-height: 1.45em;
    margin-bottom: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.8;
    background-color: white;
}

div.footer-text {
    padding: 10px 3%;
}

div.footer-text>span:nth-child(2) {
    float: right;
}






/* MAIN INPUT FORMS */
.input-form {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.input-form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.input-form label{
    margin:0 0 3px 0;
    padding:0;
    display:block;
    font-weight: bold;
}
.input-form input[type=text],
.input-form input[type=password],
.input-form input[type=date],
.input-form input[type=datetime],
.input-form input[type=number],
.input-form input[type=search],
.input-form input[type=time],
.input-form input[type=url],
.input-form input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.input-form input[type=text]:focus,
.input-form input[type=password]:focus,
.input-form input[type=date]:focus,
.input-form input[type=datetime]:focus,
.input-form input[type=number]:focus,
.input-form input[type=search]:focus,
.input-form input[type=time]:focus,
.input-form input[type=url]:focus,
.input-form input[type=email]:focus,
.input-form textarea:focus,
.input-form select:focus{
    -moz-box-shadow: 0 0 8px #fbb900;
    -webkit-box-shadow: 0 0 8px #fbb900;
    box-shadow: 0 0 8px #fbb900;
    border: 1px solid #fbb900;
}
.input-form .field-divided{
    width: 49%;
}

.input-form .field-long{
    width: 100%;
}
.input-form .field-select{
    width: 100%;
}
.input-form .field-textarea{
    height: 100px;
}
.input-form input[type=submit], .input-form input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    margin: 5px;
    border: none;
    color: #fff;
}
.input-form input[type=submit]:hover, .input-form input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.input-form .required, .error-message{
    color:red;
}
.error-message {
    float: right;
}
.notice-message {
    float: right;
    color: green;
    position: relative;
    bottom: 60px;

}












/*MEDIA QUERY MEDIUM DISPLAYS*/
@media only screen and (max-width : 1200px) {
    nav li {
        padding: 5px 8px;
        font-size: 0.9em;
    }
}


/*MEDIA QUERY SMALL DISPLAYS*/
@media only screen and (max-width : 720px) {

    header {
        position: absolute;
    }

    #menu-icon {
        display: inline-block;
    }

    nav {
        padding: 3px;
        margin: 10px 17px 10px 10px;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 10px;
        background: #fff;
        /*border: 5px solid #444;*/
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
        right: 20px;
        top: 37px;
        width: 40%;
        border-radius: 4px 0 4px 4px;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    nav:hover ul {
        display: block;
    }
}